// Grand Central Station//
@import 'google-homepage';
//first frame

#random {
    width: 13%;
    margin: 0;
    margin-top: 6%;
    margin-left: 38%;
    z-index: 1;
    position: absolute;
    
}

#random2 {
    width: 13%;
    margin: 0;
    margin-top: 6%;
    margin-left: 50%;
    z-index: 1;
    position: absolute;
}

img {
    margin: 1em;
    width: 75%;
    margin-left: 10%;
    z-index: -1;
    position: relative;
}

body {
    background-image: url(../img/bg.jpg);
}

#heart {
    margin-left: 46.8%;
    margin-top: 3%;
    width: 7%;
    position: absolute;
    z-index: 2;
}

.st0{fill:none;stroke:#FF0000;stroke-width:20;}
.st1{fill:none;stroke:#FF0000;stroke-width:32;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}