// Grand Central Station//
@import 'google-homepage';
//first frame
img {
    opacity: .2;
    width: 40%;
    transition: opacity 2s, transform 2s, rotate 1s;
    transform: scale(.25) rotate(0);
}

//last frame
img:hover {
    opacity: 1;
    transform: scale(1) rotate(180deg);
}

.line {
    fill: none;
    stroke: #ff0000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}