// Grand Central Station//
@import 'google-homepage';
//first frame

#random {
    width: 13%;
    margin: 0;
    margin-top: 6%;
    margin-left: 38%;
    z-index: 1;
    position: absolute;
    
}

#random2 {
    width: 13%;
    margin: 0;
    margin-top: 6%;
    margin-left: 50%;
    z-index: 1;
    position: absolute;
}

img {
    margin: 1em;
    width: 75%;
    margin-left: 10%;
    z-index: -1;
}

body {
    background: url(../img/bg-peachstripes.jpg);
}